@model EX.Core.Domain.CLient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CLient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input type="file" name="photoImg" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Conseiller" class="control-label"></label>
                @*<input asp-for="ConseillerFK" class="form-control" />*@
                <select class="form-control" asp-for="Conseiller" asp-items="@ViewBag.p">
                </select>
                <span asp-validation-for="ConseillerFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
